use Mix.Config

###############################################################################
# MAGASIN
###############################################################################

config :magasin, Magasin.Repo,
  database: "magasin_dev",
  hostname: "db",
  username: "postgres"
