import Config

###############################################################################
# MAGASIN DATA
###############################################################################

config :magasin_data, MagasinData.Repo,
  database: "acme_dev",
  hostname: "db",
  username: "postgres"

config :civil_bus, CivilBus.EventStore.Repo,
  database: "acme_dev",
  hostname: "db",
  username: "postgres",
  pool_size: 10,
  pool_overflow: 5
