use Mix.Config

###############################################################################
# MAGASIN DATA
###############################################################################

config :magasin_data, MagasinData.Repo,
  database: "acme_test",
  hostname: "db",
  username: "postgres",
  pool: Ecto.Adapters.SQL.Sandbox
