use Mix.Config

###############################################################################
# MAGASIN
###############################################################################

config :magasin, Magasin.Repo,
  database: "acme_test",
  hostname: "db",
  username: "postgres",
  pool: Ecto.Adapters.SQL.Sandbox
